body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #000;
}
.board {
    display: inline-block;
    height: 300px;
    width:300px;
    /*padding: 0px 20px 0px 20px;*/
    right: 0;
    margin: 0 0 15px;
    border-radius: 8px;
}
.board_img {
    height: 250px;
    width:300px;
    border-radius: 12px;
    
}
.board .bhead {
    margin: 0 auto;
    padding: 5px 0 5px 0;
    height:50px;
    width: 300px;
    text-align: center;
    background-color: #ffffff;
    color:#777777;
    border-radius: 8px;
}
.h {
    color:black;
}

label, li {
    display: block;
    padding: 5px;
    font-size: 1.4em;
    color: #e3f1fa;
}
fieldset {
    margin: 115px auto;
    width: 400px;
    padding: 8px 15px 15px 15px;
    border: 1px solid white;
    display: block; /* IE 7 Requires This */
    }
    legend {
        padding: 4px 6px 4px 6px;
        border: 1px solid white;
        font-size: 2.0em;
        color: #e3f1fa;
        font-style: italic;
    }
ul { list-style: none; margin-bottom: 15px;}
.results-bar {
    padding: 10px;
    color: white;
    background: url(images/result-bar-bg.png) left center;
    white-space: nowrap;
}
span.total-votes {
    font-size: 2.6em;
}

.spotlight{
    color: #96959E;
}
#selection{
    /*background-color: blue;
    color : black;*/
    border-radius: 20px;
    width: 70%;
    animation-duration: 2100ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  25% {
    
    opacity: 0;
  }

  50% {
    opacity: 1;
    
  }

  75% {
   opacity: 0;
   
 }

 100% {
   opacity: 1;
 }
}

#RegLink{
    color: red;
}

.mod1 {
    background-color: #000;

}
.close1 {
    color: red;
}

.img {
    border: 6px solid #fff;
    -moz-border-radius: 50px; 
    -webkit-border-radius: 30px; 
    border-radius: 250px;
}
.feed {
    border:2px solid #456879;
    border-radius:10px;
    height: 40px;
    width: 74%;
    background-color: black;
    
}
.feed[id=feed] {
    border:2px solid #456879;
    border-radius:10px;
    height: 100px;
    width: 70%;
    background-color: black;
    

}



html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}
#gallery .gallery-item {
    right: 0;
    margin: 0 0 15px;
    border-radius: 8px;
}

#gallery .gallery-item .gallery-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
    border-radius: 8px;
}

#gallery .gallery-item .gallery-link .gallery-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 250px;
    opacity: 0;
    background: rgba(254,209,54,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#gallery .gallery-item .gallery-link .gallery-hover:hover {
    opacity: 1;
}
.gallery-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.gallery-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.gallery-modal .modal-content p {
    margin-bottom: 30px;
}

.gallery-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

.gallery-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.gallery-modal .modal-content img {
    margin-bottom: 30px;
}

.gallery-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
}

.gallery-modal .close-modal:hover {
    opacity: .3;
}

.gallery-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 50px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.gallery-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 50px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.gallery-modal .modal-backdrop {
    display: none;
    opacity: 0;
}


#gallery .gallery-item .gallery-link .gallery-hover .gallery-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#gallery .gallery-item .gallery-link .gallery-hover .gallery-hover-content i {
    margin-top: -12px;
}

#gallery .gallery-item .gallery-link .gallery-hover .gallery-hover-content h3,
#gallery .gallery-item .gallery-link .gallery-hover .gallery-hover-content h4 {
    margin: 0;
}

#gallery .gallery-item .gallery-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
}

#gallery .gallery-item .gallery-caption h4 {
    margin: 0;
    text-transform: none;
}

#gallery .gallery-item .gallery-caption p {
    margin: 0;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

#gallery * {
    z-index: 2;
}


a {
    color: #42dca3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #1d9b6c;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/bg.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}

.events-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/events.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        /*padding-top: 250px;*/
    }

    .events-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #42dca3;
    color: #42dca3;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #42dca3;
    outline: 0;
    color: #000;
    background-color: #42dca3;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}
